<div class="home">
    <div class="row">
    <app-detail-card class="mb-2 col-md-4 col-sm-12 wow bounceInUp"></app-detail-card>
    <app-detail-card class="mb-2 col-md-4 col-sm-12 wow bounceInUp"></app-detail-card>
    <app-detail-card class="mb-2 col-md-4 col-sm-12 wow bounceInUp"></app-detail-card>
    <app-detail-card class="mb-2 col-md-4 col-sm-12 wow bounceInUp"></app-detail-card>
    <app-detail-card class="mb-2 col-md-4 col-sm-12 wow bounceInUp"></app-detail-card>
    <app-detail-card class="mb-2 col-md-4 col-sm-12 wow bounceInUp"></app-detail-card>
    <app-detail-card class="mb-2 col-md-4 col-sm-12 wow bounceInUp"></app-detail-card>
    <app-detail-card class="mb-2 col-md-4 col-sm-12 wow bounceInUp"></app-detail-card>
    <app-detail-card class="mb-2 col-md-4 col-sm-12 wow bounceInUp"></app-detail-card>
    </div>
</div>
